/* ---> Custom Font Family Load-In/Setup <--- 
.inter-400 {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.inter-500 {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.inter-600 {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}*/

/* ---> Overall CSS Formatting <--- */
html, body {
    margin: 0;
    padding: 0;
    font-family: "inter-500", sans-serif;
    font-size: 16px;
}

/* ---> Header Section CSS Formatting <--- */
header {
    padding: 1.5em 1em;
}

form {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* grid-auto-flow: column; */
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
}

.color-selector,
.selection-menu,
.select-btn {
    height: 3rem;
}

.color-selector{
    /* height: 3vh; */
    /* width: 6vw; */
    border: 5px solid black;
    padding: 0;
    /* border: none; */
    border-color: lightgray;
}


.selection-menu {
    /* height: 3em; */
    width: 100%;
    font: inherit;
    /* padding: .75em; */
}

.select-btn {
    /* height: 2em; */
    /* width: max-content; */
    font: inherit;
}

.main {
    padding-top: 50em;
}

.color-columns-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 500px;
}

.color-codes-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: 'inter-500', sans-serif;
    font-size: 12px;

    justify-items: center;;
}