/* ---> Custom Font Family Load-In/Setup <--- */
.inter-400 {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.inter-500 {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.inter-600 {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

/* ---> Overall CSS Formatting <--- */
html, body {
    margin: 0;
    padding: 0;
    font-family: "inter-500", sans-serif;
    font-size: 16px;
}

/* ---> Header Section CSS Formatting <--- */
header {
    margin-top: 1rem;
}

form {
    display: grid;
    grid-template-columns: minmax(auto-fit, 1fr);
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.color-selector{
    height: 3vh;
    width: 6vw;
    border: 5px solid black;
}


.selection-menu {
    height: 3em;
    width: 20em;
    font: inherit;
}

.select-btn {
    height: 2em;
    width: max-content;
    font: inherit;
}

/*.color-columns-section {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(5, minmax(max-content, 1fr)) 
    grid-auto-flow: column;
}*/

main {
    margin-top: 100px;
    display: grid;
    grid-auto-flow: row;
    grid-template: repeat(2, 1fr) / repeat(5, minmax(max-content, 1fr)) 
}